* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ropa Sans";
  font-size: 2rem;
  color: var(--text);
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
}

:root {
  --title: rgba(33, 33, 65, 0.9);
  --background: rgba(128, 0, 128, 0.219);
  --text: #000;
  --sombra: #18215992;
  --azul-claro: #3b82ce70;
  --white: #fff;
}

/* --------------  HEADER  ----------------  */
header {
  opacity: 0.8;
  background-image: url(/src/images/hotel-externo.jpg);
  background-position: 10% 60%;
  background-size: cover;
}

.topo {
  display: flex;
  height: 20rem;
  justify-content: center;
  gap: 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 4rem;
  justify-content: center;
}

.logo_name {
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 4px var(--text);
}

/* --------------  NAVBAR ----------------  */
.nav_menu {
  position: sticky;
  top: 10;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--azul-claro);
  border-bottom: 0.1rem solid white;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  padding: 0.5rem;
}

nav ul li a {
  position: relative;
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--white);
  text-shadow: 2px 2px 2px var(--text);
  transition: all 0.2s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0%;
}

.menu-hb {
  display: none;
}

/* --------------  MAIN  ----------------  */
.container {
  min-height: 100vh;
  position: relative;
  width: 80rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 3rem;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.foto-hotel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.text {
  text-align: justify;
}

.grid-one-content {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding: 0 0 2rem 5rem;
}

.grid h3::before {
  content: counter(grid-counter);
  counter-increment: grid-counter;
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 26rem;
  max-height: 26rem;
  background-size: contain;
  overflow: hidden;
}

.gallery-img img {
  width: 500px;
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.content {
  display: flex;
  justify-content: space-between;
}

.content div {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
}

.content div img {
  width: 350px;
}

.btn {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.saiba-mais {
  text-decoration: none;
  background-color: var(--azul-claro);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
}

.saiba-mais:hover {
  background-color: var(--sombra);
  transition: all 300ms ease-in-out;
}

.reserva {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--title);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 10px;
}

.reserva:hover {
  background-color: var(--background);
  color: var(--sombra);
  transition: all 300ms ease-in-out;
}

/* --------------  FOOTER ----------------  */
footer {
  padding: 2rem 0;
  background-color: var(--background);
}

footer h3 {
  font-size: 1.3rem;
}

.rodape {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

.links {
  display: flex;
  gap: 350px;
}

.navegacao ul,
.sobre-nos ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.termos ul li,
.sobre-nos ul li {
  list-style: none;
}

.termos ul li a,
.sobre-nos ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--title);
}

.redes-sociais {
  display: flex;
  gap: 1rem;
}

.redes-sociais img {
  width: 35px;
  border-radius: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* --------------  RESPONSIVIDADE MOBILE PORTRAIT ----------------  */
@media (max-width: 414px) and (orientation: portrait) {
  .menu-hb {
    display: block;
    position: absolute;
    top: 1vw;
    right: 3vw;
  }

  .menu-hb img {
    width: 2rem;
    background-color: var(--white);
    padding: 2px;
  }

  .topo {
    height: 8rem;
    gap: 1rem;
  }

  .nav_menu {
    display: none;
  }

  .logo_name h1 {
    display: flex;
    font-size: 2rem;
  }

  .logo img {
    width: 4rem;
    height: 1.5rem;
  }

  .foto-hotel img {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .content div {
    margin-bottom: 1rem;
  }

  .container {
    width: 100vw;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  .navegacao,
  .termos {
    display: none;
  }

  .sobre-nos {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
